<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/pages/index.xhtml">
	<ui:define name="content">

		<h:form>
			<p:growl id="growl"/>
			<center>
			<p:gmap center="-9.43847,-40.5052" zoom="13" type="HYBRID" model="#{mapaController.mapa}"
				 style="width:70%;height:550px" >
					<p:ajax event="overlaySelect" listener="#{mapaController.mostrarDomicilio}" update="growl" />
			</p:gmap>
			</center>
		</h:form>

	</ui:define>
</ui:composition>
</html>
